<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.mapper.AccountMapper">
    <update id="updatePhoneNumById" parameterType="com.xcy.pojo.User">
        update user set phoneNum = #{phoneNum} where id = #{id}

    </update>

    <select id="showPhoneNumById" parameterType="int" resultType="String">
        select phoneNum from user where id = #{id}
    </select>

    <update id="updatePasswordById" parameterType="int">
        update user set password = #{password} where id = #{id}
    </update>

    <select id="showPasswordById" parameterType="int" resultType="string">
        select password from user where id =#{id}
    </select>

    <insert id="insertCollectionAccount" parameterType="collection">
        INSERT INTO table_name (id,aID,cAddress,cPhone) VALUES (null,#{aID},#{cAddress},#{cPhone})
    </insert>

    <select id="showCollectionAccount" parameterType="int" resultType="com.xcy.pojo.CollectionAccount">
        select * from CollectionAccount where id =#{id}
    </select>

    <select id="selectAllCouponById" parameterType="int" resultType="sun.security.krb5.internal.Ticket">
 select * from id =#{id} from ticket where id =#{id}
    </select>






</mapper>