<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcy.mapper.AccountMapper">

    <resultMap id="accountMap" type="com.xcy.pojo.Account">
        <id column="id" property="id"/>
        <result column="headImg" property="headImg"/>
        <result column="phoneNum" property="phoneNum"/>
        <collection property="messages" ofType="com.xcy.pojo.Message">
            <id column="mid" property="id"/>
            <result column="aid" property="accountId"/>
            <result column="desc" property="desc"/>
            <result column="date" property="date"/>
        </collection>
    </resultMap>
    <select id="selectUserMsg" parameterType="com.xcy.pojo.Account">
        select * from account where phoneName = #{phoneName}
    </select>

    <update id="updateMsgById" parameterType="com.xcy.pojo.Account">
        update account
        set
        id = #{id},
        headImg = #{headImg},
        nickName = #{nickName},
        sex = #{sex},
        birthday = #{birthday};
        phoneNum = #{phoneNum};
        where id = #{id}
    </update>
    <update id="saveMsgById" parameterType="com.xcy.pojo.Account">
        update account
        set
        id = #{id},
        headImg = #{headImg},
        nickName = #{nickName},
        sex = #{sex},
        birthday = #{birthday};
        phoneNum = #{phoneNum};
        where id = #{id}
    </update>

    <select id="selectUserLevel" parameterType="com.xcy.pojo.Account">
        select accountLevel from account where phoneName = #{phoneName}
    </select>

    <update id="updateAccountMoney" parameterType="com.xcy.pojo.Account">
        update account
        set
        money = money + #{money}
        where id = #{id}
    </update>




    <select id="findAll" resultMap="accountMap" parameterType="int">
        select a.*,m.id as mid,m.aid,m.desc,m.date from account a left
        outer join message m on a.id = m.aid
    </select>

</mapper>